@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  box-sizing: border-box;
  font-size: calc(10px + .5vw); /* fluid typography */
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  background: white;
  font-size: 12px;
}

body, h1, pre, ul, li {
  margin: 0;
  padding: 0;
}

#works {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

#works > article {
  position: relative;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #works > article {
    flex: 0 0 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #works > article {
    flex: 0 0 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #works > article {
    flex: 0 0 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #works > article {
    flex: 0 0 33.333333%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #works > article {
    flex: 0 0 25%;
  }
}

#works > article > canvas {
  width: 100%;
  cursor: pointer;
  height:
}

header {
  font-size: 2em;
  height: 61.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  flex-direction: column;
}

header h1 {
  text-align: center
}

footer {
  font-size: 2em;
  min-height: 61.8vh;
  text-align: center;
  padding: 1em;
}
